html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: monospace, "Inter", sans-serif;
}

/* Webkit User */
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

:root {
    --footer-text: #94a3b8;
}

title,
h1,
p,
svg {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* font-family: verdana, Tahoma, sans-serif; */
    font-family: monospace, "Inter", sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
}

.share-button svg {
    fill: #000;
    margin-left: 11px;
    margin-top: 10px;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 17px;
}

.tile {
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.share-button:hover {
    /*? Bounce Hover */
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}

.tile:hover {
    /*? Bounce Hover */
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}

.tile-share-button svg {
    margin-left: 11px;
    margin-top: 10px;
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 8px 10px;
    width: 44px;
    height: 44px;
}

.footer-p {
    color: var(--footer-text);
    font-size: 12px;
    line-height: 16px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.footer-p a {
    color: var(--footer-text);
    font-size: 12px;
    line-height: 16px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
        backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    gap: 8px;
}

.footer-p a:hover {
    filter: brightness(1.25);
    -webkit-filter: brightness(1.25);
}

/* Sweet Alert CSS */
.swal2-popup {
    font-size: 0.5em;
    margin: 15px;
}

/* Testing Language */
.toggle-language {
    font-size: 1rem;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 1rem;
}

.toggle-language:hover {
    /*? Bounce Hover */
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}
